<% include partials/header.ejs %>

<div class='container credentials'>
    <div class='row'>
        <h1 class='signup'>Sign up Page </h1>
        
        <div class='rwd-form'>

            <form action='/register' method="POST">
                <div class='form-group'>
                    <label for ='username'>User Name</label>
                    <input type='text' class='form-control' name='username'>
                </div>
                <div class='form-group'>
                    <label for ='password'>Password</label>
                    <input type='text' class='form-control' name='password'>
                </div>
                  <div class='form-group'>
                    <button class= 'btn btn-md btn-primary btn-block'>Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>